#h1, #h2, #h3, #h4 {
    color: rgba(30, 209, 126, 0.753)
}

.bg-primary {
   background-color: rgba(43, 255, 43, 0.795); 
}

.bg-success {
    background-color: darkturquoise;
}


#footer {
    text-align: center;
    color: cyan;
    padding: 16px;
}

.jumbotron {
    color: green
}

.main-color {
    color: green;
}

.sec-color {
    color: gray;
}